# IDE
.vscode/
.idea/

# Tempodal execution terraform files
deploy/terraform/terraform.tfvars
deploy/terraform/tf_keypair_sec_scan
deploy/terraform/.terraform
deploy/terraform/terraform.tfstate
deploy/terraform/terraform.tfstate.backup

# Temporal execution ansible files
deploy/ansible/inventory.ini
deploy/ansible/keypair

# Temporal local security scan executions
results/

# Temporal folders to execute the scanning process
Grype/
Gitleaks/
Docker-Bench-Security/

# Special configuration files
Common/config/management.ini
deploy/ansible/roles/security-scan/defaults/main.yml

# Google Cloud Platform configuration files
config/credentials.json
config/tokens.json

# Generated Security Scan program
scan
