Dear FIWARE GE owner,

  As a result of the security analysis working group, we have identified
  a set of possible security issues in your component ({{.ComponentName}}). 
  
  We recommend that you perform a thorough analysis of these results and 
  take appropriate actions to resolve the security issues found as soon as 
  possible.

Thank you in advance for your cooperation...

Kind Regards,
Fernando
